body {
  font-family: "Montserrat", Arial, sans-serif;
}

.nav-link {
  font-weight: 600;
  color: #2b2b2b;
}

.nav-link:hover {
  color: rgb(209, 32, 32);
}

.banner {
  background-image: url(bg-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  padding: 19% 0;
}
